header {
	background-color: #FFF;
}
body, .hero{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
#title{
	display:inline-block;
}
#logo{
	display:inline-block;
	vertical-align: middle;
}

#digimon{
	display:inline-block;
	vertical-align: middle;
}

h1, h2, h3, .menu{
	font-family: 'Sarpanch', sans-serif;
}
h1{
	font-size:25px;
}
.menu{
	float:right;
}
.menu li{
	display:inline-block;
	margin: auto 15px;
	font-size:18px;
}

.bluepart{
	background-color: blue;
	height:360px;
	width: auto;
	padding:100px;
	background-image: url(https://raw.githubusercontent.com/GwenRaq/Digimon/master/Assets/hero.png);
	background-position:right;
	background-repeat:no-repeat;
}
.hero{
	height:200px;
	width:490px;
	background-color:white;
	padding:8px;
	border-radius: 20px;
	border:20px solid white;
	background-image:url(https://raw.githubusercontent.com/GwenRaq/Digimon/master/Assets/talkie.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.hero hr{
	width:300px;
	float:left;
}
.hero p{
	width:260px;
	font-size:20px;
}
.questions {
	background-color:lightgray;
}
.questions h1{
	text-align:center;
}
.q li{
	text-align:left;
}
.q{
	width: 300px;
	height: 200px;
	background-color:white;
	display:inline-block;
	padding: 10px 30px;
	vertical-align:middle;
	margin:35px 20px;
	border-radius: 15px;
}

footer{
	background-color:gray;
	text-align:center;
	height:75%;
}
footer p
