header {
	background-color: #FFF;
	height:75px;
	padding-top:10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content:"";
  clear: both;
  height: 0;
}
body, .hero{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
#title{
	display:inline-block;
}
#logo{
	display:inline-block;
	vertical-align: middle;
	padding-left:100px;
}

#digimon{
	display:inline-block;
	vertical-align: middle;
}

h1, .menu, footer{
	font-family: 'Sarpanch', sans-serif;
}
h1{
	font-size:25px;
}
.menu{
	float:right;
	color:#0E588D;
}
.menu ul li{
	display:inline-block;
	margin: auto 15px;
	font-size:18px;
}
.menu li:hover {
	color:orange;
	border-bottom:2px solid orange;
}

.bluepart{
	background-color: #0E588D;
	height:330px;
	width: auto;
	padding:100px;
	background-image: url(https://raw.githubusercontent.com/GwenRaq/Digimon/master/Assets/hero.png);
	background-position:right;
	background-repeat:no-repeat;
}
.hero{
	height:200px;
	width:490px;
	background-color:white;
	padding:8px;
	border-radius: 20px;
	border:20px solid white;
	background-image:url(https://raw.githubusercontent.com/GwenRaq/Digimon/master/Assets/talkie.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.hero hr{
	width:300px;
	float:left;
}
.hero p{
	width:260px;
	font-size:20px;
}
.hero h1{
	color:#0E588D;
}
.questions {
	background-color:lightgray;
}
.questions h1{
	text-align:center;
	color:#0E588D;
}
.questions ol{
	float:center;
}
.questions li{
	padding-right:100px;
}
.q{
	width: 300px;
	height: 200px;
	background-color:white;
	display:inline-block;
	padding: 10px 30px;
	vertical-align:middle;
	margin:35px 20px;
	border-radius: 15px;
	font-size:15px;

}
.q p{
	vertical-align:center;
}

footer{
	background-color:gray;
	text-align:center;
	height:50px;

}
footer p{
	color:white;
	display:inline-block;
}
