h1, h2, h3, .menu{
	font-family: 'Baloo Bhai', cursive;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
header {
	margin: 20px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size:0;
	content: " ";
	clear: both;
	height: 0;
}
.menu{
	float:left;
	list-style: none;
	font-size: 7px;
}
.menu ul li{
	display: inline-block;
	margin: 15px 10px;

}
.hero{
	background-color: blue;
	height:460px;
	background-repeat: no-repeat;
	background-position: left;
}
